@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.module {
  --notchSize: 20px;
  clip-path: polygon(
    0% 0%,
    0% 100%,
    calc(100% - var(--notchSize)) 100%,
    100% calc(100% - var(--notchSize)),
    100% 0%
  );
}

.module-small {
  --notchSize: 5px;
  clip-path: polygon(
    0% 0%,
    0% 100%,
    calc(100% - var(--notchSize)) 100%,
    100% calc(100% - var(--notchSize)),
    100% 0%
  );
}

.onboarding:nth-of-type(1n + 5) {
  display: none;
}

.uploadcare--widget {
  display: none;
}

.uploadcare--powered-by {
  display: none;
}

.uploadcare--panel {
  font-family: "Noto Sans Display", sans-serif;
}

.uploadcare--button_primary {
  background-color: #574cfa;
}
