@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.module {
  --notchSize: 20px;
  clip-path: polygon(
    0% 0%,
    0% 100%,
    calc(100% - var(--notchSize)) 100%,
    100% calc(100% - var(--notchSize)),
    100% 0%
  );
}

.module-medium {
  --notchSize: 10px;
  clip-path: polygon(
    0% 0%,
    0% 100%,
    calc(100% - var(--notchSize)) 100%,
    100% calc(100% - var(--notchSize)),
    100% 0%
  );
}

.module-small {
  --notchSize: 5px;
  clip-path: polygon(
    0% 0%,
    0% 100%,
    calc(100% - var(--notchSize)) 100%,
    100% calc(100% - var(--notchSize)),
    100% 0%
  );
}

.onboarding:nth-of-type(1n + 5) {
  display: none;
}

.uploadcare--widget {
  display: none;
}

.uploadcare--powered-by {
  display: none;
}

.uploadcare--panel {
  font-family: "Noto Sans Display", sans-serif;
}

.uploadcare--button_primary {
  background-color: #574cfa;
}

.coc h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  text-align: center;
  margin: 0.5rem;
}

.coc h2 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin: 1rem 0 1rem 0;
  text-align: left;
}

.coc h3 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-align: left;
  margin: 0.5rem 0 0.5rem 0;
  text-decoration: underline;
}

.coc p {
  margin: 1rem 0 1rem 0;
}

.coc ul {
  list-style-type: circle;
  list-style-position: outside;
  margin-left: 2rem;
}

.coc ol {
  list-style-type: decimal;
  list-style-position: outside;
  margin-left: 2rem;
}

.coc li {
  margin: 0.5rem 0 0.5rem 0;
}

.coc table {
  margin: auto;
  width: 100%;
}

.coc a {
  text-decoration: underline;
}

.coc blockquote {
  border-left: 2px solid #574cfa;
  padding-left: 2rem;
}

.coc pre {
  background-color: #f3f4f6;
  padding: 1rem;
  overflow-x: auto;
}

@media (prefers-color-scheme: dark) {
  .coc pre {
    background-color: #374151;
  }
}

button.react-flow__controls-button {
  background-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  button.react-flow__controls-button {
    background-color: #1e293b;
  }

  button.react-flow__controls-button:hover {
    background-color: #334155;
  }
}

.terms-diff strong {
  color: green;
}

/* .terms-diff p,
body {
  font-family: sans-serif;
} */
.terms-diff u {
  color: green;
}
.terms-diff del {
  color: red;
}
/*
.quilljs {
  background-color: red;
} */

.workquote:has(blockquote) {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.workquote:has(form) {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.collection-1 {
  -webkit-box-shadow: 5px 5px 1px #a5b4fc;
  box-shadow: 5px 5px 1px #a5b4fc;
}

.collection-2 {
  -webkit-box-shadow: 5px 5px 1px #a5b4fc, 10px 10px 1px #818cf8;
  box-shadow: 5px 5px 1px #a5b4fc, 10px 10px 1px #818cf8;
}

.collection-3 {
  -webkit-box-shadow: 5px 5px 1px #a5b4fc, 10px 10px 1px #818cf8, 15px 15px 1px #6366f1;
  box-shadow: 5px 5px 1px #a5b4fc, 10px 10px 1px #818cf8, 15px 15px 1px #6366f1;
}

.collection-4 {
  -webkit-box-shadow: 5px 5px 1px #a5b4fc, 10px 10px 1px #818cf8, 15px 15px 1px #6366f1,
    20px 20px 1px #4f46e5;
  box-shadow: 5px 5px 1px #a5b4fc, 10px 10px 1px #818cf8, 15px 15px 1px #6366f1,
    20px 20px 1px #4f46e5;
}

@media (prefers-color-scheme: dark) {
  .collection-1 {
    -webkit-box-shadow: 5px 5px 1px #4f46e5;
    box-shadow: 5px 5px 1px #4f46e5;
  }

  .collection-2 {
    -webkit-box-shadow: 5px 5px 1px #4f46e5, 10px 10px 1px #6366f1;
    box-shadow: 5px 5px 1px #4f46e5, 10px 10px 1px #6366f1;
  }

  .collection-3 {
    -webkit-box-shadow: 5px 5px 1px #4f46e5, 10px 10px 1px #6366f1, 15px 15px 1px #818cf8;
    box-shadow: 5px 5px 1px #4f46e5, 10px 10px 1px #6366f1, 15px 15px 1px #818cf8;
  }

  .collection-4 {
    -webkit-box-shadow: 5px 5px 1px #4f46e5, 10px 10px 1px #6366f1, 15px 15px 1px #818cf8,
      20px 20px 1px #a5b4fc;
    box-shadow: 5px 5px 1px #4f46e5, 10px 10px 1px #6366f1, 15px 15px 1px #818cf8,
      20px 20px 1px #a5b4fc;
  }
}

.collection-1-amber {
  -webkit-box-shadow: 5px 5px 1px #fcd34d;
  box-shadow: 5px 5px 1px #fcd34d;
}

.collection-2-amber {
  -webkit-box-shadow: 5px 5px 1px #fcd34d, 10px 10px 1px #fbbf24;
  box-shadow: 5px 5px 1px #fcd34d, 10px 10px 1px #fbbf24;
}

.collection-3-amber {
  -webkit-box-shadow: 5px 5px 1px #fcd34d, 10px 10px 1px #fbbf24, 15px 15px 1px #f59e0b;
  box-shadow: 5px 5px 1px #fcd34d, 10px 10px 1px #fbbf24, 15px 15px 1px #f59e0b;
}

.collection-4-amber {
  -webkit-box-shadow: 5px 5px 1px #fcd34d, 10px 10px 1px #fcd34d, 15px 15px 1px #f59e0b,
    20px 20px 1px #d97706;
  box-shadow: 5px 5px 1px #fcd34d, 10px 10px 1px #fcd34d, 15px 15px 1px #f59e0b,
    20px 20px 1px #d97706;
}

@media (prefers-color-scheme: dark) {
  .collection-1-amber {
    -webkit-box-shadow: 5px 5px 1px #f59e0b;
    box-shadow: 5px 5px 1px #f59e0b;
  }
  .collection-2-amber {
    -webkit-box-shadow: 5px 5px 1px #f59e0b, 10px 10px 1px #fbbf24;
    box-shadow: 5px 5px 1px #f59e0b, 10px 10px 1px #fbbf24;
  }
  .collection-3-amber {
    -webkit-box-shadow: 5px 5px 1px #f59e0b, 10px 10px 1px #fbbf24, 15px 15px 1px #fcd34d;
    box-shadow: 5px 5px 1px #f59e0b, 10px 10px 1px #fbbf24, 15px 15px 1px #fcd34d;
  }
  .collection-4-amber {
    -webkit-box-shadow: 5px 5px 1px #f59e0b, 10px 10px 1px #fbbf24, 15px 15px 1px #fcd34d,
      20px 20px 1px #fde68a;
    box-shadow: 5px 5px 1px #f59e0b, 10px 10px 1px #fbbf24, 15px 15px 1px #fcd34d,
      20px 20px 1px #fde68a;
  }
}

.collection-1-teal {
  -webkit-box-shadow: 5px 5px 1px #5eead4;
  box-shadow: 5px 5px 1px #5eead4;
}

.collection-2-teal {
  -webkit-box-shadow: 5px 5px 1px #5eead4, 10px 10px 1px #2dd4bf;
  box-shadow: 5px 5px 1px #5eead4, 10px 10px 1px #2dd4bf;
}

.collection-3-teal {
  -webkit-box-shadow: 5px 5px 1px #5eead4, 10px 10px 1px #2dd4bf, 15px 15px 1px #14b8a6;
  box-shadow: 5px 5px 1px #5eead4, 10px 10px 1px #2dd4bf, 15px 15px 1px #14b8a6;
}

.collection-4-teal {
  -webkit-box-shadow: 5px 5px 1px #5eead4, 10px 10px 1px #2dd4bf, 15px 15px 1px #14b8a6,
    20px 20px 1px #0d9488;
  box-shadow: 5px 5px 1px #5eead4, 10px 10px 1px #2dd4bf, 15px 15px 1px #14b8a6,
    20px 20px 1px #0d9488;
}

@media (prefers-color-scheme: dark) {
  .collection-1-teal {
    -webkit-box-shadow: 5px 5px 1px #14b8a6;
    box-shadow: 5px 5px 1px #14b8a6;
  }

  .collection-2-teal {
    -webkit-box-shadow: 5px 5px 1px #14b8a6, 10px 10px 1px #2dd4bf;
    box-shadow: 5px 5px 1px #14b8a6, 10px 10px 1px #2dd4bf;
  }

  .collection-3-teal {
    -webkit-box-shadow: 5px 5px 1px #14b8a6, 10px 10px 1px #2dd4bf, 15px 15px 1px #5eead4;
    box-shadow: 5px 5px 1px #14b8a6, 10px 10px 1px #2dd4bf, 15px 15px 1px #5eead4;
  }

  .collection-4-teal {
    -webkit-box-shadow: 5px 5px 1px #14b8a6, 10px 10px 1px #2dd4bf, 15px 15px 1px #5eead4,
      20px 20px 1px #99f6e4;
    box-shadow: 5px 5px 1px #14b8a6, 10px 10px 1px #2dd4bf, 15px 15px 1px #5eead4,
      20px 20px 1px #99f6e4;
  }
}

.collection-4-sky {
  -webkit-box-shadow: 5px 5px 1px #7dd3fc, 10px 10px 1px #38bdf8, 15px 15px 1px #0ea5e9,
    20px 20px 1px #0284c7;
  box-shadow: 5px 5px 1px #7dd3fc, 10px 10px 1px #38bdf8, 15px 15px 1px #0ea5e9,
    20px 20px 1px #0284c7;
}
@media (prefers-color-scheme: dark) {
  .collection-4-sky {
    -webkit-box-shadow: 5px 5px 1px #0284c7, 10px 10px 1px #0ea5e9, 15px 15px 1px #38bdf8,
      20px 20px 1px #7dd3fc;
    box-shadow: 5px 5px 1px #0284c7, 10px 10px 1px #0ea5e9, 15px 15px 1px #38bdf8,
      20px 20px 1px #7dd3fc;
  }
}
